.heroContainer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContentContainer{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.heroContent{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 9rem;
}

.text{
    font-size: 66px;
    font-weight: 500;
    margin: 2rem 0rem;
}

.textBold{
    font-weight: 700;
}

.subText{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
    margin: 2rem 0rem;
}

.paper{
    background-color: var(--color-grey) !important;
    height: 4rem !important;
}
.mailBtn{
    color:  #000;
    background-color: var(--color-primary);
    border-radius: 5rem;
    padding: 1rem;
    border: none;
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.imageContainer{
    width: 40%;
    height: 20rem;
    position: relative;
    object-fit: cover;
    margin-left: 1rem;
}

.backgroundImg{
    position: absolute;
    z-index: 1;
    border-radius: 2.5rem;
    width: 100%;
}

.heroImg{
    position: absolute;
    z-index: 2;
    top: -3rem;
    width: 100%;   
}