.teamContainer{
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
}

.teamContent{
    width: 80%;
    position: relative;
}

.teamHeading{
    font-size: 54px;
    font-weight: 600;
    line-height: 143.023%; 
    text-align: center;
    margin-bottom: 4rem;
}

.card{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.card img{
    margin-right: 1rem;
}

.cardText{
    margin: 0.5rem;
}

.cardHeading{
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0.5rem;
}

.cardDesc{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.3;
}

.members{
    margin-top: 2rem;
}

.special{
    background-color: var(--color-primary);
    color: #373737;
}